@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Merriweather', serif;

}

header {
    background-color: snow;

}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav-desktop {
  display: none;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;

}

.topnav a.icon {
  background:   rgb(179, 66, 50);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav #EN:hover {
  background-color: #ddd;
  color: rgb(179, 66, 50);
}

.active {
  background-color:rgb(179, 66, 50);
  color: white;
}

#img-box {
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-image: url("./assets/mobile-version.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#img-box figcaption {
  position: static;
  margin-top: 75px;
  padding: 0 20px;
  right: 25px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(8, 9, 13);
}

#img-box hr {
  width: 100px;
  height: 3px;
  position: absolute;
  margin: 20px;
  background-color: rgb(179, 66, 50);
}

#img-box .img {
  width: 100%;
  height: 100vh;
  background-image: url("https://github.com/Vitorrrocha/frontend-equipeDigital/blob/master/assets/mobile-version.png?raw=true");
  background-repeat: no-repeat;
  background-position-y: center;
}

#areas-container {
  width: 100%;
  height: 100%;
  background-color: rgb(242, 242, 242);
  padding: 30px 0 30px 0;
}

#areas-container > hr {
  width: 30%;
  margin: 10px auto;
  border-width: 2px;
  background-color: rgb(179, 66, 50);
}

#areas-container > h4 {
  text-align: center;
  color: rgb(7, 7, 7);
  padding: 10px 0 15px 0;
}

.area {
  margin-top: 35px;
}

.area hr {
  width: 80%;
  margin: 25px auto;
  border-width: 1px;
  background-color: rgb(83, 83, 83);
}
.area .area-name {
  text-align: center;
  padding: 0px 0 30px 0;
  color: rgb(179, 66, 50);
}

.area .div-text-area {
  width: 100%;
  height: 100%;
}

.div-text-area .text {
  color: rgb(83, 83, 83);
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
  max-width: 450px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.div-text-area > .last {
  margin-bottom: 70px;
}

#testimonials {
  width: 100%;
  height: 720px;
  padding-top: 40px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

#testimonials > hr {
  width: 15%;
  margin: 15px auto;
  border-width: 2px;
  background-color: rgb(179, 66, 50);
}

#testimonials > h4 {
  color: rgb(7, 7, 7);
}


.testimonials-box {
  margin: auto;
  padding: 10px 5px;
  position: absolute;
}

.testimonials-box .text {
  color: black;
}

.mySlides {
  display: none;
  width: 100%;
}

.testimonials-text {
  color: #423f3f;
  font-size: 0.9em;
  padding: 5px 12px 2rem 12px;
  text-align: center;
} 

.prev-next-box {
  width: 150px;
  min-width: 120px;
  margin: 520px auto 0 auto;
  height: 30px;
  padding: 40px 0 40px 0;
  justify-content: space-between;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  color: white;
  padding: 0px 22px;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.prev:hover, .next:hover {
  color: rgb(179, 66, 50)!important;
  transition: ease-in-out 0.3s;
}

footer {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  bottom: 0;
  background-color: rgb(27, 49, 70);
  color: white;
}

footer .footer-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.footer-container h4 {
  padding-top: 30px;
  margin: 0;
}

.footer-container h5 {
  padding: 20px 0 10px 0;
  margin: 0;
}

.footer-services-areas {
  display: none;
}

.footer-container ul > li {
  padding-top: 5px;
}

.footer-container ul > li a {
  text-decoration: none;
  color: white;
}

.footer-container ul > li a:hover{
  color: rgb(179, 66, 50);
  cursor: pointer;
}



/* Desktop Version*/
@media (min-width: 768px){
  header {
    background-color:rgb(250, 250, 250);
  }

  .topnav {
    display: none;
  }

  .topnav-desktop {
    display: block;
    width: calc(550px + 25%);
    height: 60px;
    margin: 0 auto;
  }

  .logo-box {
    width: 200px;
    padding: 0;
    position: absolute;
    text-align: start;
  }

  .logo {
    padding-top: 13px;
  }

  .logo a {
    padding: 20px 15px 15px 15px;
    text-align: center;
    font-size: 14px; 
    text-decoration: none;  
    background-color: rgb(179, 66, 50); 
    color: white;
  } 

  .logo  a:hover{
    color: rgb(0, 0, 0);
  }

  #myLinks-desktop {
    text-align: end;
    padding: 15px 0 0 0;
  }

  #myLinks-desktop a:last-child {
    color:  rgb(179, 66, 50);
  }

  #myLinks-desktop > a{
    padding: 0  10px;
    color:rgb(76, 145, 197);
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
  }

  #myLinks-desktop > a:hover{
    color:  rgb(0, 0, 0);
    transition: all 0.2s;    
    padding: 20px;
  }

  #img-box {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/desktop-version.png");
    background-repeat: no-repeat;
  }

  #img-box .center {
    width: calc(550px + 25%);
    height: 100vh;
    margin: 80px auto;
  }

  #img-box figcaption {
    width: 350px;
    font-size: 24px;
    padding: 0;
    left: calc(190px + 5%);
    justify-content:  start;
    position: static;
  }

  #img-box hr {
    width: 100px;
    margin: 0;
    margin-top: 15px!important;
    position: static;
  }

  #areas-container {
    display: flex;
    flex-direction: column;
  }

  #areas-container > h4 {
    font-size: 28px;
  }

  #areas-container > hr {
    width: 80px;
  }

  .areas-box {
    width: calc(550px + 25%);
    margin: 20px auto 90px auto;
    display: flex;
    justify-content: space-between;
  }

  .area {
    display: inline-block;
  }

  .div-text-area .text {
    color: rgb(31, 31, 31);
  }

  #testimonials {
    height: 800px;
  }

  #testimonials > hr {
    width: 45px;
    margin: 30px auto 25px auto;  
  }

  #testimonials > h4 {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .testimonials-box {
    width: 100%;
    height: 450px;
    position: relative;

  }

  .testimonials-text {
    font-size: 22px;
  }

  .prev-next-box {
    width: 500px;
    margin-top: 50px;
  }

  .prev, .next {
    padding: 10px 80px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(37, 37, 37, 0.76);
    color: white!important;
    border-radius: 10px;
  }

<<<<<<< HEAD
  footer {
    display: flex;
    flex-direction: column;
  }
  
  footer .footer-container {
    display: flex;
    width: calc(550px + 25%);
    margin: 0 auto;
  }

  .footer-box {
    width: 400px;
    height: 390px;
    margin: 0 auto;
    padding: 0 60px;
    text-align: start;
  }

  .footer-box  h4 {
    font-size: 19px;
  }

  .footer-box  h5 {
    font-size: 17px;
  }

  .footer-box  h6 {
    font-size: 14px;
  }

  .footer-box  h6 > a{
    color: #ffffff;
  }

  .footer-contact h6 {
    font-size: 16px;
  }

  .footer-box  h6 > a:hover{
    color: rgb(179, 66, 50);
    text-decoration: none;
  }

  .footer-services-areas {
    display: inline-block;
  }
  
  .footer-services-areas h4, .footer-social h4 {
    padding-bottom: 20px;
  }

  .footer-services-areas h6, .footer-social ul > li{
    font-size: 16px;
    padding: 0 0 7px 0;
  }
}
=======
}
>>>>>>> 4f4aac8de73b4b64f5356df191d6bdc6e652b61e
